{% extends "layouts/base.html" %} 
{% block title %}Forgot Password{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Forgot Password</h2>
        <p>
            No worries, just fill in you email with which you registered in the form below and press submit.
            <br/>We will send you instructions on the same email address.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
{% endblock %}